.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: -50.8px;
}

.siteInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.siteInfo h1 {
  align-items: center;
  color: #4C4C51;
  size: 48px;
  line-height: 48px;
  font-weight: lighter;
  text-align: center;
}

.siteInfo p {
  text-align: center;
  color: #88939E;
  font-size: 22px;
  line-height: 28px;
  text-overflow: ellipsis;
}

@media (max-width: 375px) {
  .container {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -50.8px;
  }

  .main {
    margin-top: 40px;
    width: 100%;
  }
}